<div class="full-menu-container">
  <ul>
    <div class="li-container">
      <li class="close-nav">
      </li>
    </div>

    <div class="li-container">
      <li class="content-bar">
        <div class="vertical-centered-container">
          <ul class="menu-nav-list">

            <li>
              <a href="//lezay.com">
                {{i18n "full-menu.home"}}
              </a>
            </li>

            <li>
              <a href="//lezay.com/about">
                {{i18n "full-menu.about"}}
              </a>
            </li>

            <li>
              <a href="//lezay.com/community">
                {{i18n "full-menu.community"}}
              </a>
            </li>

            <li>
              <a href="//lezay.com/shop">
                {{i18n "full-menu.shop"}}
              </a>
            </li>

            <li>
              <a href="//lezay.com/blog">
                {{i18n "full-menu.blog"}}
              </a>
            </li>

            <div class="lezaypedia-and-brands">
              <li>
                <a href="//lezay.com/lezaypedia">
                  {{i18n "full-menu.lezaypedia"}}
                </a>
              </li>

              <li>
                <a href="//lezay.com/brands">
                  {{i18n "full-menu.brands"}}
                </a>
              </li>
            </div>

            {{#unless currentUser}}
              {{#if showSignUpButton}}
                <li>
                  <a href="#" {{action "showLogin"}} class="close-nav">
                    {{i18n "login.title"}}
                  </a>
                </li>
              {{/if}}
            {{/unless}}
          </ul>
        </div>
      </li>
    </div>

    <div class="li-container">
      <li class="company-info content-bar">
        <div class="vertical-centered-container">
          <h2>
            {{i18n "full-menu.company-info.company"}}
          </h2>

          <a class="mission">
            {{i18n "full-menu.company-info.mission"}}
          </a>
          <p>
            {{i18n "full-menu.company-info.second-paragraph"}}
          </p>
          <ul class="contact-info">
            <li>
              <p>
                {{i18n "full-menu.contact"}}:
              </p>
              <a href="tel:+49711195810295">
                <p>
                  +49 711 195 810 295
                </p>
              </a>
            </li>

            <li>
              <p>
                {{i18n "full-menu.email"}}:
              </p>
              <a href="mailto:hello@lezay.com">
                <p>
                  hello@lezay.com
                </p>
              </a>
            </li>
          </ul>

        </div>
      </li>
    </div>

    <div class="li-container">
      <li class="close-nav">
      </li>
    </div>
  </ul>
</div>

<div class="nav-container unveiling-nav">
  <nav class="top-bar">
    <a href="/" class="site-home-link">
      <h3 class="site-home">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 42 49" style="enable-background:new 0 0 42 49;" xml:space="preserve">
          <style type="text/css">
          	.st0{fill:#666766;}
          </style>
          <g id="XMLID_10_">
          	<path class="st0" d="M21.1,48.2L0.8,36.5V13.4L21,1.8l20.2,11.6V36L21.1,48.2z M2,35.9l19.1,11l19.1-11.5V14.1L21,3.1l-19,11V35.9z   "/>
          </g>
          <g id="XMLID_4_">
          	<path class="st0" d="M21,4.7l17.6,29.8L3.5,35L21,4.7 M21,2.4L1.4,36.2l39.3-0.6L21,2.4L21,2.4z"/>
          </g>
          <g id="XMLID_3_">
          	<polygon class="st0" points="20.5,25.5 1.1,14.2 1.7,13.2 20.5,24.2 40.4,13.2 41,14.2  "/>
          </g>
          <g id="XMLID_2_">
        		<rect x="9.5" y="35.6" transform="matrix(2.330459e-02 0.9997 -0.9997 2.330459e-02 56.4552 14.5494)" class="st0" width="22.6" height="1.2"/>
          </g>
        </svg>
      </h3>
    </a>

    <div class="right">
      <ul>
        {{#if currentUser}}
          {{plugin-outlet "header-before-notifications"}}
        {{/if}}

        {{#header-dropdown iconId="search-button"
                           icon="search"
                           action="toggleSearch"
                           toggleVisible=searchVisible
                           mobileAction="fullPageSearch"
                           loginAction="showLogin"
                           title="search.title"
                           href="search"}}
        {{/header-dropdown}}

        {{#unless currentUser}}
          {{#if showSignUpButton}}
            <li>
              <a href="#" {{action "showLogin"}}>
                <span data-hover='{{i18n "full-menu.login"}}/{{i18n "full-menu.signup"}}'>
                  {{i18n "full-menu.login"}}/{{i18n "full-menu.signup"}}
                </span>
              </a>
            </li>
          {{/if}}
        {{/unless}}

        {{#if currentUser}}
          {{#header-dropdown iconId="current-user"
                             class="current-user"
                             showUser="true"
                             toggleVisible=userMenuVisible
                             loginAction="showLogin"
                             title="user.avatar.header_title"}}
            {{#if currentUser.unread_notifications}}
              <a href {{action "showUserMenu"}} class='badge-notification unread-notifications'>{{currentUser.unread_notifications}}</a>
            {{/if}}
            {{#if currentUser.unread_private_messages}}
              <a href {{action "showUserMenu"}} class='badge-notification unread-private-messages'>{{currentUser.unread_private_messages}}</a>
            {{/if}}
          {{/header-dropdown}}
        {{/if}}
      </ul>
        {{plugin-outlet "header-before-dropdowns"}}
        {{user-menu visible=userMenuVisible logoutAction="logout"}}
        {{search-menu visible=searchVisible}}
    </div>
  </nav>

  {{#if showExtraInfo}}
    {{header-extra-info topic=topic}}
  {{/if}}
</div>
<button id="ember584" class="ember-view tcon tcon-menu--arrow tcon-menu--arrowleft" type="button" aria-label="toggle menu" style="pointer-events: all; opacity: 1;"><span class="tcon-menu__lines" aria-hidden="true"></span>
  <span class="tcon-visuallyhidden">toggle menu</span>
</button>
